[run]
source = src/gsMap
omit =
    # Exclude the files you mentioned
    src/gsMap/utils/jackknife.py
    src/gsMap/format_sumstats.py
    # Other files you might want to exclude
    */tests/*
    */__init__.py
    src/gsMap/templates/*
    # Additional excludes
    src/gsMap/__main__.py
    src/gsMap/setup.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code
    raise NotImplementedError
    raise ValueError
    except ImportError
    except Exception
    except:

    # Don't complain if non-runnable code isn't run
    if 0:
    if __name__ == .__main__.:
    if False:

    # Skip pass statements
    pass

[paths]
source =
    src/gsMap
